<html>
  <head>
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="../images/logo.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" src="../static/lib/jquery-3.6.0.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Do&#178; - Login page</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to 2DO: Please login</h1>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"/>
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"/>
        <input class="btn btn-default" type="submit" value="Login"/>
      </form>
      <button class="open-button" onclick="openForm()">Signup</button>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

    <div class="form-popup" id="myForm">
      <form action="/create" method="post" style="border:1px solid #ccc">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please create an account.</p>
          <hr>
      
          <label for="email"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" value="{{
              request.form.username }}" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password"  value="{{
              request.form.password }}"  required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="passwordRepeat"  value="{{
              request.form.passwordRepeat }}" required>

          {% if createError %}
            <p class="error"><strong>Error:</strong> {{ createError }}
          {% endif %}   
      
          <div class="clearfix">
            <button type="button" class="cancelbtn " onclick = "closeForm()">Cancel</button>
            <button type="submit" class="signupbtn" value="create">Sign Up</button>
          </div>
        </div>
      </form>
    </div>

    <script src="../static/script.js"></script>
    <!-- Bootstrap JS with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
